<!DOCTYPE html>
<html>
<head>
    <title>Train Model</title>
</head>
<body>
    <h1>Train Model</h1>
    <form action="{{ url_for('train') }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.file.label }} {{ form.file() }}<br>
        {{ form.label.label }} {{ form.label() }}<br>
        {{ form.submit() }}
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</body>
</html>
